@tailwind base;

@tailwind components;

.login-input {
  @apply appearance-none rounded w-full py-2 px-4 leading-tight outline-none focus:ring
    bg-gray-100 text-gray-700 focus:bg-white
    dark:bg-gray-900 dark:text-gray-300 dark:focus:bg-black dark:ring-blue-900
  ;
}

.opacity-60 {
  opacity: .6;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply focus:ring bg-blue-400 dark:bg-blue-700 text-white dark:text-blue-100 hover:bg-blue-500 dark:hover:bg-blue-800;
}

.btn-gray {
  @apply text-white bg-gray-300 hover:bg-gray-400 dark:bg-gray-600 dark:hover:bg-gray-700;
}

.points {
  @apply text-white text-center inline-block w-8 h-8 leading-tight rounded;
}

.btn-list {
  @apply flex justify-between;
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}

@tailwind utilities;

.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hover\:opacity-100:hover {
  opacity: 100;
}

@media (min-width: 576px) {
  .sm\:-ml-12 {
    margin-left: -3rem;
  }
}

.input-underline {
  outline: none;
  box-shadow: 0 3px 0 0 #3b82f6;
}
